* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 3rem;

  align-items: center;
  gap: 2rem;
  background-color: aqua;
  min-height: 100vh;
}

.btn {
  cursor: pointer;
  padding: 0.5rem 1.5rem;
}

.btn:hover {
  background-color: blue;
  transition: 0.3s;
  scale: 0.99;
}

p::first-letter {
  font-size: 2rem;
}

button:focus {
  background-color: aqua;
}
