* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}
li {
  font-size: larger;
  font-weight: bolder;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fd7479;
  flex-direction: column;
  height: 100vh;
  gap: 3rem;
}
h1 {
  color: white;
}
p {
  color: white;
  font-size: larger;
  font-weight: bolder;
}
.btn {
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}
